@media screen {
  #special-size {
    width: 100%;
    height: 100vh;
  }
}

/* Parallax */
.bgimg-1 {
  /* The image used */

  /* Set a specific height */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bgimg-1 {
  background-image: url('https://nitinkaveriappa.com/images/img_parallax1.webp');
  min-height: 100%;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}

#special-opbg {
  background-color: rgba(245, 245, 245, 0.5);
}
